.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 6.5vmin;
  width: 100%;
  background-color: greenyellow;
  margin-bottom: 0;
}
.Nav-logo {
  height: 6vmin;
  margin-left: 50px;
}

.profile {
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.about-us {
  text-align: center;
}

.video {
  width: 25em;
  border-radius: 10px;
}

.ball-logo {
  height: 7em;
  top: 700px;
  position: absolute;
  right: 100%;
  animation: ball-logo 4.5s ease-in-out infinite;
}

@keyframes ball-logo {
  to {
    right: -100px;
    transform: rotate(360deg);
  }
}

.sign-in-container-left {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 75%;
}

.sign-in-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  background-color: rgb(71, 71, 71);
}

.List-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 28em;
  margin-bottom: 5em;
}

.List-input-container-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 28em;
}

.list-title {
  color: aliceblue;
}

.List-input {
  background-color: #3d4048;
  border-radius: 10px;
  width: 95%;
  height: 45px;
  margin: 10px;
  padding-left: 20px;
  border-style: none;
}

.List-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 10px;
  border-style: none;
  background-color: gold;
  box-shadow: 0.3em 0.3em 0.1em;
}

.List-input-button-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-left: 33px;
  margin-top: 25px;
  padding: 10px; /* adjust as needed */
  border-radius: 10px;
  border-style: none;
  background-color: gold;
  box-shadow: 0.3em 0.3em 0.1em;
}

.List-input-button-three {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-left: 167px;
  margin-top: 45px;
  padding: 10px; /* adjust as needed */
  border-radius: 10px;
  border-style: none;
  background-color: gold;
  box-shadow: 0.3em 0.3em 0.1em;
}

.about-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 111, 0);
  margin-top: 0;
  margin-bottom: 50px;
  padding: 5px;
  box-shadow: 0.6em 0.6em 0.1em;
}

.user-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.Top-item-tile {
  display: flex;
  /* align-items: center;
  justify-content: left; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: aliceblue;
  width: 30%;
  border-radius: 10px;
  margin-left: 20px;
  line-height: 3px;
}

.List-grid-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* background-color: #2196f3; */
  padding: 10px;
  width: 95%;
  height: auto;
  margin: 10px;
  margin-bottom: 45px;
}

.Top-item-container {
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-position: center;
  height: 30em;
  margin: 10px;
  /* border-style: solid; */
  box-shadow: 0.9em 0.9em 0.1em;
  background-color: rgb(41, 41, 41);
}

.home-title {
  /* background-color: black; */
  text-shadow: 2px 2px #ff0000;
  color: azure;
  font-size: 45px;
  padding: 7px;
}

.List-grid-container-home {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #282c34;
  /* border-style: solid; */
  padding: 10px;
  width: 95%;
  height: 180px;
  margin: 10px;
}

.manage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Top-item-container-home {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 10em;
  margin: 2px;
  background-color: rgb(135, 222, 141);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0.6em 0.6em 0.2em;
}

.item-title-home {
  background-color: black;
  color: azure;
  margin-top: 5px;
  padding: 0;
}

.item-button-home {
  border-radius: 10px;
  border-style: none;
}

.home-manage {
  color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100vw;
  padding-left: 30px;
  background-color: rgb(205, 45, 96);
  text-shadow: #282c34;
}

.Add-item {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10em;
  margin: 2px;
  border-radius: 10px;
  background-color: rgb(53, 53, 53);
  box-shadow: 0.6em 0.6em 0.2em;
}

.Add-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 10px;
  border-style: none;
  background-color: gold;
  text-decoration: none;
  box-shadow: 0.3em 0.3em 0.1em;
}

.Add-item-text {
  text-decoration: none;
}

.List-editor {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10em;
  margin: 2px;
  border-radius: 10px;
  background-color: #282c34;
  color: aliceblue;
  text-align: center;
}

.List-editor-button {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0.3em 0.3em 0.1em;
}

.list-img-profile {
  width: 100px;
}

.list-img-home {
  width: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
